.navbar-link {
    height: 70px;
    width: 100px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 'bold';
    font-family: 'Montserrat';
}

.navbar-link:hover {
    color: #ffffff;
}